# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mijtkzdubslabcwjjfoc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XIE3-lAU3D2qzJu2mh4Lfg_JrzNBZgv

# Olist API (api.tiny.com.br)
OLIST_API_TOKEN=6bBMclxnXAs3BGCbbOwJde4eyKWmlyNA
TINY_CLIENT_ID=tiny-api-02f72085c20069cfb4fa2dcf7eeda3428db303ae-1784750546